*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box; 
}

.container{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,50,0.3),rgba(0,0,50,0.3)),url(frontIMAG.jpeg);
    background-position: center;
    background-size: cover;
    position: relative;
}   

.form-box{
    width: 100%;
    max-width: 450px;
    max-height: 500px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #fff;
    padding: 50px 60px 70px;
    text-align: center;
    border-radius: 7px;
}

.hide-form-box{
    visibility: hidden;
}

.form-box h1{
    font-size: 30px;
    margin-bottom: 60px;
    color: #3c00a0;
    position: relative;
}

.form-box h1::after{
    content: '';
    width: 30px;
    height: 4px;
    border-radius: 3px;
    background: #3c00a0;
    position: absolute;
    bottom: -12px;
    left: 50%;
    transform: translateX(-50%);
    /* transition: max-width 0.5s; */
    /* max-width: 30px;
    overflow: hidden; */
}

.input-field{
    background: gainsboro;
    margin: 15px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    max-height: 65px;
    transition: max-height 0.5s;
    overflow: hidden;
    /* box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2); */
}

input{
    width: 100%;
    background: transparent;
    border: 0;
    outline: 0;
    padding: 18px;
}

.input-field i{
margin-left: 15px;
color: #999;
}

form p{
    text-align: left;
    padding-left: 15px;
    font-size: 13px;
}

.forgot_pass{
    visibility: hidden;
}

form p a{
    text-decoration: none;
    color: #3c00a0;
}

.btn-field{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.btn-field button{
    flex-basis: 48%;
    background: #452290;
    color: #fff;
    height: 40px;
    border-radius: 20px;
    border: 0;
    outline: 0;
    cursor: pointer;
    transition: background 1s;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
}

.sign:hover{
    /* font-size: 1.3rem; */
    background-color: black;
    color: #fff;
    transition: all ease 0.3s;
}

.input-group{
    height: 280px;
}

/* .btn-field button.disable{
    background: #eaeaea;
    color: #555;
} */

.input-field .fa-eye{
    cursor: pointer;
    padding-right: 10px;
}

/* ------------------------------------------------------------------------------- */

.btn-field button#submit{
    justify-content: center;
    position: relative;
    left: 25%;
    
}

.popup{
    width: 400px;
    max-height: 90vh;
    background: #fff;
    border-radius: 6px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,-50%) scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    color: #333;
    visibility: hidden;
}

.open-popup{
    visibility: visible;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
}
.popup img{
    width: 100px;
    margin-top: -50px;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.popup h2{
    font-size: 30px;
    font-weight: 500;
    margin: 30px 0 10px;
}


.popup p{
    font-size: 15px;
    color: #6fd649;
    text-align: center;
}
.popup button{
    width: 100%;
    margin-top: 70%;
    padding: 10px 0;
    background: #6fd649;
    color: #fff;
    border: 0;
    outline: none;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(0,0, 0, 0.2);

}

.close-container{
    visibility: hidden;
}

.btn-field .popup{
    width: 90%;
    
    top: 50%;
    max-width: 450px;
}
